.util.details-util{
    display: grid;
    gap: 1vh;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
    text-align: center;
    margin: 1vh 0;
    background: #222120;
    color: #EFEEED;
}
.detail{
    display: inline-block;
    margin: 0 1vw;
    text-transform: uppercase;
}