body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #6F6960;
}

.btn{
    outline: none;
    background: transparent;
    color: #222120;
    border: 1px solid #222120;
    cursor: pointer;
    transition: 0.3s linear;
}
.btn-selected{
    background: #6F6960;
    color: #EFEEED;
}
.btn:hover{
    background: #222120;
    color: #EFEEED;
}
.title-wrapper{
    display: grid;
    gap: 1vh;
    grid-template-columns: 1fr 1fr 1fr;
}
.title{
    background: #222120;
    color: #EFEEED;
    padding: 1vh;
    width: fit-content;
    display: inline-block;
    cursor: pointer;
}
